# Paddle Sandbox
CV_PADDLE_ENVIRONMENT=sandbox
CV_PADDLE_SELLER_ID=99648
CV_PADDLE_CLIENT_TOKEN=test_45ddaa8cdb6d1f48b59a91cda9e

CV_PADDLE_PRICE_MONTHLY=pri_01kzknvgbrggy0fyh52x60x516
CV_PADDLE_PRICE_ANNUAL=pri_01kzknx5nrsjte790mp4fefkjm

# A récupérer dans Paddle :
# Developer Tools -> Notifications -> Votre destination -> Signing secret
CV_PADDLE_WEBHOOK_SECRET=REMPLACEZ_PAR_LE_SIGNING_SECRET_PADDLE

# Optionnel, seulement pour afficher la clé en sandbox pendant les tests
CV_PADDLE_DEBUG=1
